.trailer{
    overflow: hidden;
    padding-left: 0;
}
.trailer iframe{
    max-width: 100%;
    padding: 0;
}
@media (max-width: 767px) {
    /* CSS for small screens */
    .film-details {
        display: block; /* Show the div on small screens */
    }

    #mainPoster {
        max-width: 100%; /* Make the poster responsive */
        display: block; /* Center the poster */
        margin: 0 auto; /* Center horizontally */
    }

    #smallMedia {
        display: block; /* Show the small screen media section */
    }
}