.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Граница таблицы */
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd; /* Граница ячеек */
    padding: 8px;
    text-align: left;
}

.custom-table th {
    background-color: #f2f2f2; /* Цвет фона заголовка */
}
